<div class="grid" style="height: 80vh">
  <div class="col-12">
    <div class="card" style="min-height: 100%">
      <p-messages
        class="layout-message"
        [value]="msgs"
      ></p-messages>
      <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
          <a
            class="text-500 no-underline line-height-3 cursor-pointer"
            (click)="goHome()"
          >
            <i class="pi pi-home"></i>
          </a>
        </li>
        <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
          <span class="text-900 line-height-3 cursor-pointer"
            >Notificación orden fabricación</span
          >
        </li>
      </ul>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <p-inputGroup>
            <p-inputGroupAddon>
              <label for="date" class="text-900 font-medium text-xl"
                >Fecha</label
              >
            </p-inputGroupAddon>
            <input
              type="date"
              pInputText
              [(ngModel)]="date"
              name="dateFiltre"
              id="dateFiltre"
              placeholder="Fecha"
              
            />
            <p-inputGroupAddon>
              <label for="turno" class="text-900 font-medium text-xl"
                >Turno</label
              >
            </p-inputGroupAddon>
            <p-dropdown
              [options]="turnos"
              [(ngModel)]="selectTurno"
              optionLabel="name"

              placeholder="Seleccione el turno"
              [style]="{ width: '9rem', height: '100%', 'border-radius': '0', 'align-items': 'center' }"
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value "
                  *ngIf="selectTurno"
                >
                  <div>{{ selectTurno }}</div>
                </div>
              </ng-template>
              <ng-template let-turno pTemplate="item">
                <div>
                  <div>{{ turno }}</div>
                </div>
              </ng-template>
            </p-dropdown>

            <button
            pButton
            pRipple
            label="Obtener"
            icon="pi pi-list"
            type="button"
            [disabled]="!date || !selectTurno"
            (click)="getOrdenFabricacion()"
          ></button>
          </p-inputGroup>
        </ng-template>
        <ng-template pTemplate="right">
          <p-inputGroup>
          
<div style="width: 20rem;"> 
  <p-dropdown
  [options]="ofs"
  [(ngModel)]="selectOf"
  optionLabel=""
  [filter]="true"
  filterBy=""
  [showClear]="true"
  placeholder="Seleccione la orden de fabricación"
  [style]="{ width: '100%', height: '100%', 'border-radius': '0' }"
  [disabled]="!ofs.length"
  (onChange)="onSelectOfChange($event)"
>
  <ng-template pTemplate="selectedItem" >
    <div class="country-item country-item-value " *ngIf="selectOf">
      <div>{{ selectOf }}</div>
    </div>
  </ng-template>
  <ng-template let-ordenFabricacion pTemplate="item" >
    <div>
      <div>{{ ordenFabricacion }}</div>
    </div>
  </ng-template>
</p-dropdown>
</div>

           

            <button
              pButton
              pRipple
              icon="pi pi-download"
              type="button"
              class="p-button"
              label="Tally"
              [disabled]="!date || !selectTurno"
              (click)="getOrdenFabricacion()"
            ></button>
          </p-inputGroup>
        </ng-template>
      </p-toolbar>

      <p-table
        [value]="ofsDetalleProd"
        [loading]="isLoading"
        responsiveLayout="scroll"
        styleClass="p-datatable-sm p-datatable-gridlines"
        dataKey="DocumentAbsoluteEntry"
        editMode="row"
        responsiveLayout="scroll"
        scrollHeight="400px"
      >
        <ng-template pTemplate="caption">
          <div class="mb-3" *ngIf="ofDetalle">
            <div class="font-medium text-3xl text-900">
              {{ ofDetalle.ProductDescription }}
            </div>
            <div class="flex align-items-center text-700 flex-wrap">
              <div class="mr-5 flex align-items-center mt-3">
                <i class="pi pi-box mr-2"></i>
                <span>Unidad: {{ ofDetalle.InventoryUOM }}</span>
              </div>
              <div class="mr-5 flex align-items-center mt-3">
                <i class="pi pi-calendar mr-2"></i>
                <span>Planificado:{{ ofDetalle.PlannedQuantity }}</span>
              </div>
              <div class="mr-5 flex align-items-center mt-3">
                <i class="pi pi-check-circle mr-2"></i>
                <span>Completado: {{ ofDetalle.CompletedQuantity }}</span>
              </div>
              <div class="flex align-items-center mt-3">
                <i class="pi pi-times-circle mr-2"></i>
                <span>Rechazado:{{ ofDetalle.RejectedQuantity }}</span>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 6rem">Tipo</th>
            <th style="min-width: 6rem">Codigo</th>
            <th style="min-width: 6rem">UM</th>
            <th style="min-width: 6rem">Cantidad usada</th>
            <th style="min-width: 6rem">Cantidad planificada</th>
            <th style="min-width: 6rem">Cantidad en stock</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-datum
          let-editing="editing"
          let-ri="rowIndex"
        >
          <tr [pEditableRow]="datum">
            <td>{{ datum.ItemName }}</td>

            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="datum.ItemNo" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ datum.ItemNo }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="number"
                    [(ngModel)]="datum.UoMCode"
                    style="width: 6rem"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ datum.UoMCode }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="number"
                    [(ngModel)]="datum.IssuedQuantity"
                    style="width: 6rem"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ datum.IssuedQuantity }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="number"
                    [(ngModel)]="datum.PlannedQuantity"
                    style="width: 6rem"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ datum.PlannedQuantity }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td *ngIf="datum.isNotStockItem">
              <p-message
                severity="danger"
                text="Solo hay en stock {{ datum.isNotStockItem }} unidades"
              ></p-message>
            </td>
            <td *ngIf="!datum.isNotStockItem">No</td>
            <td>
              <div class="my-button-group">
                <div class="flex">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(datum, ri)"
                    class="p-button-rounded p-button-text"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(ri)"
                    class="p-button-rounded p-button-text p-button-success mr-2"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(ri)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Obtenga datos.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">Cargando datos. Por favor, espere.</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="mt-4 text-center">
        <button
          pButton
          type="button"
          label="Notificar"
          icon="pi pi-envelope"
          class="p-button-success"
          [disabled]="!ofs.length"
          (click)="notificarOrdenFabricacion()"
        ></button>
      </div>
    </div>
  </div>
</div>
