<div class="grid">
  <div class="col-12">
    <div class="card">
      <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer" (click)="goHome()">
            <i class="pi pi-home"></i>
          </a>
        </li>
        <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
          <span class="text-900 line-height-3 cursor-pointer">Asignar personal</span>
        </li>
      </ul>
      <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Asignación, </span>
        <span class="text-blue-600">Área y línea</span>
      </div>
      <div class="text-700 text-sm mb-3">
        En esta página, se asignará al personal a un área y línea específicos, utilizando la información obtenida de
        Ariel.
      </div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">

          <div class="my-2 ">
            <div class="field">
              <label for="date" class="block text-900 font-medium text-xl mb-2">Fecha</label>
              <input type="date" pInputText [(ngModel)]="dateFiltre" class="w-full" name="dateFiltre" id="dateFiltre"
                placeholder="Fecha" onkeydown="return false;" />
            </div>
            <p-dropdown [options]="cargos" [(ngModel)]="selectCargo" optionLabel="name" [filter]="true"
              filterBy="description" [showClear]="true" placeholder="Seleccione el cargo" class=" mr-2"
              [loading]="isLoading">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectCargo">
                  <div>{{ selectCargo }}</div>
                </div>
              </ng-template>
              <ng-template let-cargo pTemplate="item">
                <div>
                  <div>{{ cargo }}</div>
                </div>
              </ng-template>
            </p-dropdown>
           
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Obtener datos" icon="pi pi-search" class="p-button"
            (click)="loadData()"></button>
        </ng-template>
      </p-toolbar>
      <p-table [value]="listResponseAriel" [rows]="5" [loading]="isLoading" [rowHover]="true"
      styleClass="p-datatable-sm" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" responsiveLayout="scroll"
      [(selection)]="selectedAsignaciones" selectionMode="multiple">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="cod_persona">Cédula <p-sortIcon field="cod_persona"></p-sortIcon></th>
          <th pSortableColumn="nombre_persona">Nombre <p-sortIcon field="nombre_persona"></p-sortIcon></th>
          <th pSortableColumn="area_persona">Área <p-sortIcon field="area_persona"></p-sortIcon></th>
          <th pSortableColumn="cargo">Cargo <p-sortIcon field="cargo"></p-sortIcon></th>
          <th pSortableColumn="linea">Línea <p-sortIcon field="linea"></p-sortIcon></th>
          <th pSortableColumn="hora_entrada">Hora Entrada <p-sortIcon field="hora_entrada"></p-sortIcon></th>
          <th pSortableColumn="asignado">Asignado <p-sortIcon field="asignado"></p-sortIcon></th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-datum>
        <tr>
          <td>
            <p-tableCheckbox [value]="datum"  [disabled]="datum.asignado != null"></p-tableCheckbox>
          </td>
          <td>{{ datum.cedula }}</td>
          <td>{{ datum.nombre_persona }}</td>
          <td>{{ datum.nombre_area }}</td>
          <td>
            <p-dropdown [options]="cargos" [(ngModel)]="datum.cargo" optionLabel="name" [style]="{width: '125px'}"
              [appendTo]="'body'">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value">
                  <div>{{ datum.cargo }}</div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-cargo>
                <div>{{ cargo }}</div>
              </ng-template>
            </p-dropdown>
          </td>
          <td>
            <p-dropdown [options]="lineas" [(ngModel)]="datum.linea" optionLabel="name" [style]="{width: '125px'}"
              [appendTo]="'body'">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value">
                  <div>{{ datum.linea }}</div>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-linea>
                <div>{{ linea }}</div>
              </ng-template>
            </p-dropdown>
          </td>
          <td>{{ datum.hora_entrada }}</td>
          <td>{{ datum.asignado || 'N/A' }}</td>
          <td>
            <div class="my-button-group">
              <div class="flex">
                <button pButton pRipple [raised]="true" severity="danger" class="p-button-rounded  mr-2"
                  icon="pi pi-trash" pTooltip="Eliminar asignación" tooltipPosition="left"
                  (click)="deleteAsignacion(datum)"></button>
              </div>
            </div>
          </td>

         
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">Obtenga datos.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="9">Cargando datos. Por favor, espere.</td>
        </tr>
      </ng-template>
    </p-table>
      <div class="mt-4 text-center">
        <button pButton type="button" label="Grabar" icon="pi pi-save" class="p-button-success mr-3"
          [disabled]=" !listResponseAriel.length || !selectedAsignaciones.length" (click)="asignar()"></button>
        <button pButton type="button" label="Añadir" icon="pi pi-plus" class="p-button-info"
          [disabled]="!listResponseAriel.length" (click)="displayNewComodin = true"></button>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Nueva asignación" [(visible)]="displayNewComodin" [modal]="true" [style]="{width: '600px'}"
  (onHide)="closeDialog()" class="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="comodinForm">

      <div class="field mb-1">
        <div class="grid">
          <div class="col-12 md:col-6">
            <label for="nombre_empleado" class="block text-900 font-medium text-xl mb-2">Nombre del empleado</label>
            <input type="text" pInputText formControlName="nombre_empleado" class="w-full" name="nombre_empleado"
              placeholder="Ingrese el nombre del empleado" />
            <small *ngIf="nombre_empleado.invalid && (nombre_empleado.dirty || nombre_empleado.touched)"
              class="block p-error">
              <div *ngIf="nombre_empleado.errors?.['required']">El nombre del empleado es requerido.</div>
            </small>
          </div>
          <div class="col-12 md:col-6">
            <label for="ci_empleado" class="block text-900 font-medium text-xl mb-2">Cédula del empleado</label>
            <input type="text" pInputText formControlName="ci_empleado" class="w-full" name="ci_empleado"
              placeholder="Ingrese la cédula del empleado" />
            <small *ngIf="ci_empleado.invalid && (ci_empleado.dirty || ci_empleado.touched)" class="block p-error">
              <div *ngIf="ci_empleado.errors?.['required']">La cédula del empleado es requerida.</div>
            </small>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="linea" class="block text-900 font-medium text-xl mb-2">Línea</label>
        <p-dropdown [options]="lineas" formControlName="linea" optionLabel="cargo" [showClear]="true"
          placeholder="Seleccione la linea" [loading]="isLoading">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="comodinForm.get('linea')">
              <div>{{ comodinForm.get('linea')?.value }}</div>
            </div>
          </ng-template>
          <ng-template let-linea pTemplate="item">
            <div>
              <div>{{ linea }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small *ngIf="linea.invalid && (linea.dirty || linea.touched)" class="block p-error">
          <div *ngIf="linea.errors?.['required']">La línea es requerida.</div>
        </small>
      </div>


      <div class="field">
        <label for="centro_costo" class="block text-900 font-medium text-xl mb-2">Centro de costo</label>
        <input type="text" pInputText formControlName="centro_costo" class="w-full" name="centro_costo"
          placeholder="Ingrese el centro de costo" />
        <small *ngIf="centro_costo.invalid && (centro_costo.dirty || centro_costo.touched)" class="block p-error">
          <div *ngIf="centro_costo.errors?.['required']">El centro de costo es requerido.</div>
        </small>
      </div>
      <div class="field">
        <label for="cargo" class="block text-900 font-medium text-xl mb-2">Cargo</label>
        <p-dropdown [options]="cargos" formControlName="cargo" optionLabel="cargo" [showClear]="true"
          placeholder="Seleccione el cargo" class=" mr-2" [loading]="isLoading">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="comodinForm.get('cargo')">
              <div>{{ comodinForm.get('cargo')?.value }}</div>
            </div>
          </ng-template>
          <ng-template let-cargo pTemplate="item">
            <div>
              <div>{{ cargo }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <small *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)" class="block p-error">
          <div *ngIf="cargo.errors?.['required']">El cargo es requerido.</div>
        </small>

      </div>
      <div class="field">
        <label for="hora_entrada" class="block text-900 font-medium text-xl mb-2">Hora de entrada</label>
        <input type="time" pInputText formControlName="hora_entrada" class="w-full" name="hora_entrada"
          placeholder="Ingrese la hora de entrada" />
        <small *ngIf="hora_entrada.invalid && (hora_entrada.dirty || hora_entrada.touched)" class="block p-error">
          <div *ngIf="hora_entrada.errors?.['required']">La hora de entrada es requerida.</div>
        </small>
      </div>



    </form>

  </ng-template>
  <ng-template pTemplate="footer">

    <button pButton type="button" label="Cancelar" (click)="closeDialog()" class="p-button-text"></button>
    <button pButton type="button" label="Guardar" class="p-button-text p-button-success"
      [disabled]="comodinForm.invalid" (click)="submitComodin()"></button>
  </ng-template>
</p-dialog>