<div class="grid">
  <div class="col-12">
    <div class="card">
      <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer" (click)="goHome()">
              <i class="pi pi-home"></i>
          </a>
      </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span class="text-900 line-height-3 cursor-pointer">Lector de APIs Tally</span>
        </li>
    </ul>
    <div class="mb-3 font-bold text-2xl">
      <span class="text-900">Lector</span>
      <span class="text-blue-600"> APIs Tally </span>
    </div>
    <div class="text-700 text-sm mb-3">
      Descargue reportes de Tally en Excel o PDF. Filtre por
      API, rango de fechas para obtener la información precisa.
    </div>
      <p-toolbar styleClass="mb-4">

      

        <ng-template pTemplate="left">

          <div class="my-2">
            <div class="flied">
              <label for="date" class="block text-900 font-medium text-xl mb-2">Seleccione API</label>
              <p-dropdown [options]="lisApisTally" [(ngModel)]="selectApisTally" optionLabel="nombre" [filter]="true"
              filterBy="nombre" [showClear]="true" placeholder="Seleccione el cargo"
              [loading]="isLoading"  [style]="{ width: '20rem' }" styleClass="mb-3">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectApisTally">
                  <div>{{ selectApisTally.nombre }}</div>
                </div>
              </ng-template>
              <ng-template let-api pTemplate="item">
                <div>
                  <div>{{ api.nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            </div>
            <div class="flied">
              <label for="date" class="block text-900 font-medium text-xl mb-2">Rango de fechas</label>
              <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"[style]="{ width: '20rem' }" [disabled]="!selectApisTally"></p-calendar>
            </div>
          </div>
        
        
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Obtener datos" icon="pi pi-search" class="p-button" [disabled]="rangeDates.length === 0"
            (click)="loadDataTali()"></button>
            <button
            pButton
            pRipple
            label="Excel"
            icon="pi pi-file-excel"
            severity="success"
            class="mx-2"
            (click)="downloadExcel()"
          ></button>
          <button
            pButton
            pRipple
            label="PDF"
            icon="pi pi-file-pdf"
            severity="danger"
            (click)="downloadPdfFile()"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table [value]="listAny" [rows]="5" [loading]="isLoading" 
      styleClass="p-datatable-sm"  responsiveLayout="scroll"
      rowGroupMode="subheader" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columns" pSortableColumn="{{col.field}}" style="min-width: 5rem">
            {{ col.field }} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
       
      <ng-template pTemplate="body" let-item>
        <tr>
          <td *ngFor="let col of columns">
            {{ item[col.field] }}
          </td>
        </tr>
      </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">Obtenga datos.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="9">Cargando datos. Por favor, espere.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

